.auth_Container{
    width: 100%;
    position: relative;
    display: flex;
    gap: 20px;
    height: 100vh;
    background: #fafafaff;
    .auth_left{
        flex:1;
        padding: 50px 30px 30px 40px;
    }
    .auth_right{
        flex:1;
        background: #fff;

    }
    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
}

.auth_right {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
    font-family: var(--headingFamily);

    @media screen and (max-width: 768px) {
        min-height: auto;
    }

    .auth_card {
        width: 90%;
        padding: 30px 80px 30px 60px;
        border-radius: 8px;
        @media screen and (max-width: 1000px) {
            padding: 30px 40px 30px 20px;
        }
       
    }

    .auth_title {
        font-size: 40px;
        margin-bottom: 0.3rem;
        color: #213f7d;
        font-family: var(--headingFamily);
        font-weight: 900;
        letter-spacing: -4%;
    }

    .auth_text {
        font-size: 20px;
        color:var(--blackColor);
        margin-bottom: 1.5rem;
        font-family: var(--headingFamily);
        font-weight: 400;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
        position: relative;

        input {
           
            padding: 0.75rem;
            border-radius: 5px;
            border: 2px solid #545F7D26;
            outline: none;
            &:focus {
                border-color: var(--greenColor);
            }
        }
        .showPassword{
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 12px;
            color: var(--greenColor);
            font-weight: 700;
            cursor: pointer;
            caret-color: transparent;
        }
        .error {
            font-size: 0.7rem;
            color: #e74c3c;
            margin-top: 0.2rem;
        }
    }

    .auth_actions {
        margin-bottom: 1rem;
        position: relative;
        top:-4px;
        .forgot {
            font-size: 12px;
            color: var(--greenColor);
            text-decoration: none;
            font-weight: 600;
            text-transform: uppercase;
        }
    }

    button {
        width: 100%;
        padding: 0.75rem;
        border-radius: 8px;
        border: none;
        background: var(--greenColor);
        color: #ffffff;
        font-weight: 600;
        cursor: pointer;
        text-transform: uppercase;
        &:disabled {
        background: #9be7e6;
             cursor: not-allowed;
        }
    }

    .auth_footer {
        text-align: center;
        margin-top: 1rem;
        font-size: 0.8rem;


        a {
        color: var(--greenColor);
        text-decoration: none;
        font-weight: 600;
        }
    }
    .auth_success {
        font-size: 16px;
        color: var(--blackColor);
        text-align: center;
        strong {
            color: var(--greenColor);
        }
    }
}