.table-header{
    display: flex;
    align-items: center;
    gap: 4px;
    position: relative;
    img{
        width: 100%;
    }
    button{
        border: none;
        background: transparent;
    }
}

.filter-icon {
  background: none;
  border: none;
  cursor: pointer;
}

.users-pageLoading{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    gap: 4px;
    .text-primary{
        font-family: var(--textFamily);
        font-size: 18px;
        font-weight: 600;
        color: var(--primaryColor);
    }
}